
/* Селектор типа */
body
{
  font-size: 20px;
}

h1
{
  text-decoration: underline;
}

/* убрать подчеркивание у ссылок - done*/
a
{
  text-decoration: none;
}

/* Селектор класса */
.about
{
  font-size: 24px;
}

/* Покрасить все элементы с классом attribute в зеленый цвет - done*/
.attribute
{
  color: green;
}

/* Селектор идентификатора */
#intro
{
  border-top: 1px solid;
  margin-top: 50px;
}

/* Дочерний селектор */
section h2
{
  color: blue;
}

/* Прямой дочерний селектор */
#intro > .children
{
  color: gray;
}

/* Сделать цвет текста в списке дочерних селекторов красным - done */
.children
{
  color: red;
}

/* Селектор наличия атрибута */
a[target]
{
  padding: 0 10px;
}

/* Селектор сравнения атрибута */
a[href="https://google.com/"]
{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
a[href*="freecodecamp.org"]{
  background-color: green;
}
/* Выделить ссылку у которой в атрибуте href значение содержит freecodecamp.org */

a[href^="https://developer.mozilla.org"]{
  background-color: pink;
}
/* Выделить ссылку у которой значение атрибута href начинается с https://developer.mozilla.org */

a[href$="/complex-selectors"]{
  background-color: red;
}
/* Выделить ссылку у которой значение атрибута href заканчивается на "/complex-selectors" */
a[tag~="docs"]{
  font-weight:bold;
}
/* Выделить ссылку у которой значение атрибута tag содержит слово docs */
a[href*="selectors"]{
  font-style:italic;
}
/* Выделить ссылку у которой значение атрибута href содержит слово selectors */

/** Псквдоклассы */
table
{
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th,
td
{
  padding: 6px 15px;
}

/* Покрасить заголовок таблицы */
th{
  background: #42444e;
  color: #fff;
  text-align: left;
}

/* Добавить границы всем ячейкам */
td, tr, th {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}

/* Добавить левую границу всем первым ячейкам в строке */
td:first-child {
  border-left: 1px solid #c6c9cc;
}

/* Закруглить левый верхний угол таблицы */
table{
  border-top-left-radius: 15px;
}

/* Закруглить правый верхний угол таблицы */
table{
  border-top-right-radius: 6px;
}

/* Покрасить четные строки - done*/
tr:nth-child(2n){
  background: #eaeaed;
}

/* Закруглить нижний левый угол таблицы */
table tr:last-child {
  border-bottom-left-radius: 6px;
}

/* Закруглить нижний правый угол таблицы */
{
  border-bottom-right-radius: 6px;
}

/* Добавить таблице отступ снизу */
table{
  margin-bottom: 12px;
}

/** Псевдоэлементы */

/* Покрасить первую букву заголовка "Псевдоэлементы" в красный цвет - done*/
.pseudo_elements h2::first-letter {
  color: red;
}

/* Покрасить первую линию абзацев в секции псевдоэлементов в красный цвет- done*/
.pseudo_elements p::first-line {
  color: red;
}
